_backup
make_all.sh
backup_config.sh
patch_drivers.sh
update_config.sh
*.backup
*.tar.bz2
# build log files
buildroot*.txt
# temporary configurations for test, remove for production
board/*/skeleton/etc/fstab
board/*/skeleton/etc/nabla.conf
board/*/skeleton/etc/wpa_supplicant
changes-to-buildroot/*
