# backup directory
_backup
# shell scripts
*.sh
# development log files
board/*/*.txt
# experiments with xenomai
configs/*_xeno_*
patches/xenomai
# new kernel development
configs/*_nx_*
kernel_[56].*_config.fragment
