image boot.vfat {
	vfat {
		files = {
			"bcm2711-rpi-4-b.dtb",
			"rpi-firmware/cmdline.txt",
			"rpi-firmware/config.txt",
			"rpi-firmware/fixup4.dat",
			"rpi-firmware/start4.elf",
			"rpi-firmware/overlays",
			"Image",
			"rootfs.cpio.zst"
		}
		extraargs = "-F 32 -s 1"
		label = "boot"
	}

	size = 250%
}

# post-image script is part of buildroot, cannot set include path
include("part_nabla.cfg")

# Raspberry Pi does not use a boot partition
image sdcard.img {
	hdimage {
	}

	partition boot {
		partition-type = 0x0C
		bootable = "true"
		image = "boot.vfat"
		offset = 1M
	}

	partition nabla {
		partition-type = 0x83
		image = "nabla.vfat"
		autoresize = "true"
	}

	size = 256M
}
