### Busybox fragment file 2020-03-16 ###

#
# Busybox Settings
#
CONFIG_DESKTOP=n
CONFIG_INCLUDE_SUSv2=n
CONFIG_FEATURE_COMPRESS_USAGE=y
CONFIG_BUSYBOX=n

#
# Settings | Library Tuning
#
CONFIG_SHA3_SMALL=0
CONFIG_FEATURE_FAST_TOP=y
CONFIG_UNICODE_SUPPORT=y
CONFIG_FEATURE_HWIB=n

#
# Init Utilities
#
CONFIG_LINUXRC=n

#
# Linux System Utilities
#
CONFIG_EJECT=n
CONFIG_FALLOCATE=n
CONFIG_FDFORMAT=n
CONFIG_FDFLUSH=n
CONFIG_FSFREEZE=n
CONFIG_XXD=n
CONFIG_FEATURE_MDEV_LOAD_FIRMWARE=y
CONFIG_MESG=n
CONFIG_FEATURE_MESG_ENABLE_ONLY_GROUP=n
CONFIG_SETARCH=n
CONFIG_LINUX32=n
CONFIG_LINUX64=n
CONFIG_TASKSET=y
CONFIG_FEATURE_TASKSET_FANCY=y
CONFIG_SWAPON=n
CONFIG_SWAPOFF=n

#
# Linux System Utilities -> Filesystem/Volume identification
#
CONFIG_FEATURE_VOLUMEID_EROFS=n
CONFIG_FEATURE_VOLUMEID_F2FS=n
FEATURE_VOLUMEID_LUKS=y
FEATURE_VOLUMEID_MINIX=n
CONFIG_FEATURE_VOLUMEID_NTFS=y

#
# Miscellaneous Utilities
#
CONFIG_LSSCSI=n
CONFIG_PARTPROBE=n

#
# Networking Utilities
#
CONFIG_TELNET=n
CONFIG_FEATURE_TELNET_TTYPE=n
CONFIG_FEATURE_TELNET_AUTOLOGIN=n
CONFIG_FEATURE_TELNET_WIDTH=n
CONFIG_TELNETD=y
CONFIG_FEATURE_TELNETD_STANDALONE=y
CONFIG_FEATURE_TELNETD_INETD_WAIT=n

#
# Common options for DHCP applets
#
CONFIG_IFUPDOWN_UDHCPC_CMD_OPTIONS="-t1 -A2 -b -R -O search"

#
# Process Utilities
#
CONFIG_FEATURE_PS_WIDE=y
CONFIG_FEATURE_PS_LONG=y
